/* loading */

#loading {
    padding:10px;
    width:200px;
    height:115px;
    .border-radius(5px);
    .box-shadow(0 0 10px #000);
    background-color:#fff;
    text-align:center;
}

#loading img {
    display: block;
    margin: 0 auto;
}

#loading p {
    margin: 5px 0;
}
