<div class="handy-module">
    <h2>Button</h2>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">默认</h3>
        <div class="handy-module-dom">
<div class="ui-button ui-button-normal">
    <button id="button-xbox" type="button">默认按钮</button>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">橙色</h3>
        <div class="handy-module-dom">
<div class="ui-button ui-button-submit">
    <button id="button-xbox" type="button">橙色按钮</button>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">不可用</h3>
        <div class="handy-module-dom">
<div class="ui-button ui-button-disabled">
    <button id="button-xbox" type="button" disabled="disabled">不可用按钮</button>
</div>
        </div>
    </div>
</div>
