<div class="handy-modules">
    <h2>Loading</h2>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<div id="loading">
    <img src="https://i.alipayobjects.com/e/201303/2ODFJWk4wn.png" width="71" height="23"/>
    <p class="smaller">系统正在处理，请稍候...</p>
    <img src="https://i.alipayobjects.com/e/201303/2OF0AqEztc.gif" width="37" height="43"/>
</div>
        </div>
    </div>
</div>
