<div class="handy-module">
    <h2>Button</h2>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">默认</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-normal" type="button">默认按钮</button>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">橙色</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-submit" type="button">默认按钮</button>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">不可用</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-disabled" disabled="disabled" type="button">默认按钮</button>
        </div>
    </div>
</div>
