<div class="handy-module">
    <h2>Header</h2>
    <div class="handy-module-demo">
        <div class="handy-module-subtitle"></div>
        <div class="handy-module-dom">
<header class="ui-header">
    <h1><img src="https://i.alipayobjects.com/e/201302/2F9uXmFQZ3.png" alt="Alipay" width="93" height="30" /></h1>
    <a href="#" title="返回" class="ui-button-back">返回</a>
    <a href="#" title="详情" class="ui-button-detail">详情</a>
</header>
        </div>
    </div>
</div>
