<div class="handy-module">
    <h2>Poptip</h2>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-arrow-1">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-arrow-3">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-red ui-poptip-arrow-5">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-red ui-poptip-arrow-7">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-green ui-poptip-arrow-9">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-green ui-poptip-arrow-11">提示信息 </p>
        </div>
    </div>
</div>
