body, input, textarea, select, button {
  font-size:14px;
  line-height:1.5;
  color:#333;
}

body {
  background-color:#f2f2f2;
}

input {
  line-height:1;
}

a {
  text-decoration:none;
}

form {
  padding:5px;
  color:#808080;
}

.center {
  text-align:center;
}

.larger {
  font-size:1.2em;
}

.smaller {
  font-size:.8em;
}

.black {
  color:#333;
}

.gray {
  color:#808080;
}

.fixed {
  position:fixed;
}

/*body {
  .display-box;
  .box-orient(vertical);
}

.ui-page {
  .display-box;
  .box-orient(vertical);
  .box-flex(1);
}

.ui-content {
  .box-flex(1);
}*/

/*icons*/
.ui-icon {
  display:block;
  background:url(https://i.alipayobjects.com/e/201302/2J5opznV3N.png) no-repeat;
  //background:url(../img/sprite.png) no-repeat;
  background-size:100px auto;
}

.icon-reverse {
  padding-left:6px;
  width:36px;
  height:24px;
  background-position:0 0;
}

.icon-reverse:active {
  background-position:0 -25px;
}

.icon-arrow {
  width:12px;
  height:8px;
  background-position:-50px 0;
}

.icon-arrow-horizontal {
  width:8px;
  height:12px;
  background-position:-50px -50px;
}

.icon-check {
  width:13px;
  height:10px;
  background-position:-75px 0;
}
