<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../dist/base-ui.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>Button</h2>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">默认</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-normal" type="button">默认按钮</button>
<input type="buttont" class="ui-button ui-button-normal" value="默认按钮" />
<a href="#" class="ui-button ui-button-normal">默认按钮</a>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">橙色</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-submit" type="button">橙色按钮</button>
<input type="submit" class="ui-button ui-button-submit" value="默认按钮" />
<a href="#" class="ui-button ui-button-submit">默认按钮</a>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">不可用</h3>
        <div class="handy-module-dom">
<button class="ui-button ui-button-disabled" disabled="disabled" type="button">不可用按钮</button>
<input type="submit" class="ui-button ui-button-disabled" disabled="disabled" value="默认按钮" />
<a href="javascript:void(0)" class="ui-button ui-button-disabled">不可用按钮</a>
        </div>
    </div>
</div>
    </div>
<script type="text/javascript">
window.onload = function(){
  document.body.className = "ui-loaded";
}
</script>
</body>
</html>

