<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../dist/base-ui.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>List</h2>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<h3>类别1</h3>
<ul data-role="list" class="ui-list">
    <li>
        <button type="button">列表1<span class="ui-icon icon-arrow-horizontal"></span></button>
    </li>
    <li>
        <button type="button">列表2<span class="ui-icon icon-arrow-horizontal"></span></button>
    </li>
</ul>
<h3>类别1</h3>
<ul data-role="list" class="ui-list">
    <li>
        <a href="#">换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行换行<span class="ui-icon icon-arrow-horizontal"></span></a>
    </li>
    <li>
        <a href="#">列表2<span class="ui-icon icon-arrow-horizontal"></span></a>
    </li>
</ul>
        </div>
    </div>
</div>
    </div>
<script type="text/javascript">
window.onload = function(){
  document.body.className = "ui-loaded";
}
</script>
</body>
</html>

