<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>List</h2>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<ul class="ui-list">
    <li>列表1<i class="icon-angle-left"></i></li>
    <li>列表2<i class="icon-angle-right"></i></li>
    <li>列表3<i class="icon-angle-up"></i></li>
    <li>列表4<i class="icon-angle-down"></i></li>
</ul>
        </div>
    </div>
</div>
    </div>
</body>
</html>

