<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../dist/base-ui.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>Message</h2>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-提示</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-info">
  <div class="ui-message-icon"></div>
  <p>提示信息</p>
  <p>提示信息</p>
  <p>提示信息</p>
  <p>提示信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-警告</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-warn">
  <div class="ui-message-icon"></div>
  <p>提示信息</p>
  <p>提示信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-成功</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-error">
  <div class="ui-message-icon"></div>
  <p>成功信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-失败</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-success">
  <div class="ui-message-icon"></div>
  <p>失败信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-form-提示</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-form ui-message-info">
  <div class="ui-message-icon"></div>
  <p>提示信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-form-成功</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-form ui-message-error">
  <div class="ui-message-icon"></div>
  <p>成功信息</p>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Message-form-失败</h3>
        <div class="handy-module-dom">
<div class="ui-message ui-message-form ui-message-success">
  <div class="ui-message-icon"></div>
  <p>失败信息</p>
</div>
        </div>
    </div>
</div>
    </div>
<script type="text/javascript">
window.onload = function(){
  document.body.className = "ui-loaded";
}
</script>
</body>
</html>

