<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../dist/app.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>Poptip</h2>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-arrow-1">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-arrow-3">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-red ui-poptip-arrow-5">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-red ui-poptip-arrow-7">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-green ui-poptip-arrow-9">提示信息 </p>
        </div>
    </div>
    <div class="handy-module-demo">
        <div class="handy-module-dom">
<p class="ui-poptip ui-poptip-green ui-poptip-arrow-11">提示信息 </p>
        </div>
    </div>
</div>
    </div>
</body>
</html>

