<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../dist/base-ui.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>Header</h2>
    <div class="handy-module-demo">
        <div class="handy-module-subtitle"></div>
        <div class="handy-module-dom">
<div data-role="header" class="ui-header">
    <h1><img alt="Alipay" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="90" height="30"></h1>
    <a title="返回" href="./" class="ui-icon icon-reverse">返回</a>
</div>
        </div>
    </div>
</div>
    </div>
</body>
</html>

