.ui-checkbox {
  position:relative;
  margin:5px 0;
  height:32px;
  line-height:16px;
  border:1px solid #bfbfbf;
  background-color:#fff;
  .border-radius(6px);
}

.ui-checkbox label {
  .box-sizing(border-box);
  display:block;
  padding:8px 32px 8px 8px;
  width:100%;
  height:100%;
  color:#333;
}

.ui-checkbox-naked {
  border:0;
  background-color:transparent;
}

.ui-checkbox-naked label {
  color:#808080;
}

.ui-checkbox-disabled label {
  color:#c7c7c7;
}

.ui-checkbox .icon-check {
  position:absolute;
  top:5px;
  right:8px;
  z-index:1;
  width:18px;
  height:18px;
  border:2px solid #b2b2b2;
  background-position:-72px 4px;
  .border-radius(4px);
}

.ui-checkbox-naked .icon-check {
  right:9px;
}

.ui-checkbox input {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0;
  visibility:hidden\0;
}

.ui-checkbox-checked .icon-check {
  border-color:#3bb000;
  background-color:#3bb000;
  background-position:-72px -21px;
}

.ui-checkbox-disabled .icon-check {
  border-color:#ccc;
  background-color:#ccc;
  background-position:-72px -46px;
}