.ui-message {
  position:relative;
  margin:8px 0;
  padding:8px 8px 8px 38px;
  line-height:24px;
}

.ui-message-icon {
  position:absolute;
  top:8px;
  left:8px;
  z-index:1;
  width:24px;
  height:24px;
  .border-radius(12px);
}

.ui-message-icon span {
  display:block;
  position:absolute;
  z-index:1;
}

.ui-message-error .ui-message-icon {
  background-color:#ff3a0c;
}

.ui-message-error .ui-message-icon span {
  width:14px;
  height:14px;;
  top:5px;
  left:5px;
  background-position:-75px -100px;
}

.ui-message-success .ui-message-icon {
  background-color:#3bb000;
}

.ui-message-success .ui-message-icon span {
  width:18px;
  height:14px;
  top:5px;
  left:3px;
  background-position:-75px -125px;
}