#shortcut {
  left:8px;
  bottom:8px;
  z-index:12;
  width:29px;
  height:29px;
  background-position:0 -50px;
  background-color:transparent;
}

#shortcut.active {
  background-position:0 -100px;
}

#shortcut-panel {
  display:none;
  left:50%;
  top:50%;
  z-index:10;
  padding:8px;
  width:159px;
  height:159px;
  margin-left:-88px;
  margin-top:-88px;
  background-color:#000;
  color:#fff;
  .border-radius(10px);
}

#shortcut-panel li {
  display:block;
  width:60px;
  height:50px;
  text-align:center;
  color:#808080;
}

#shortcut-panel li a {
  display:block;
  color:#fff;
}

#shortcut-panel li.ui-disabled a {
  color:#808080;
}

#shortcut-panel li span {
  display:block;
  margin:0 auto;
  width:25px;
  height:25px;
}

#shortcut-panel li.ui-disabled span {
  opacity:.35;
}

#shortcut-panel .passback {
  margin:4px auto;
  clear:both;
}

#shortcut-panel .passback span {
  background-position:-50px -100px;
}

#shortcut-panel .payfor {
  float:left;
  margin-left:4px;
}

#shortcut-panel .payfor span {
  background-position:-50px -125px;
}

#shortcut-panel .refresh {
  float:right;
  margin-right:4px;
}

#shortcut-panel .refresh span {
  background-position:-75px -125px;
}

#shortcut-panel .about {
  margin:4px auto;
  clear:both;
}

#shortcut-panel .about span {
  background-position:-75px -150px;
}

/*transform scale*/
@keyframes shortcutscaleout {
  from {
    transform:scale(1);
  }
  to {
    transform:scale(0);
  }
}

@-webkit-keyframes shortcutscaleout {
  from {
    -webkit-transform:scale(1);
  }
  to {
    -webkit-transform:scale(0);
  }
}

@-ms-keyframes shortcutscaleout {
  from {
    -ms-transform:scale(1);
  }
  to {
    -ms-transform:scale(0);
  }
}

@keyframes shortcutscalein {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

@-webkit-keyframes shortcutscalein {
  from {
    -webkit-transform:scale(0);
  }
  to {
    -webkit-transform:scale(1);
  }
}

@-ms-keyframes shortcutscalein {
  from {
    -ms-transform:scale(0);
  }
  to {
    -ms-transform:scale(1);
  }
}

#shortcut-panel.scale {
  display:block;
  opacity:.8;
}

#shortcut-panel.out {
  .transform(scale(1));
  .animation(both, ease-out, 200ms, shortcutscaleout);
}

#shortcut-panel.in {
  .transform(scale(0));
  .animation(both, ease-in, 200ms, shortcutscalein);
}
