<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/solarized.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/google-code-prettify/prettify.css" />
    <link rel="stylesheet" href="assets/css/tomorrow.css" />
    <link rel="stylesheet" href="../dist/base-ui.css" />
    <title>{{title}}</title>
    <style type="text/css">
        pre.prettyprint {
            margin: 6px 0;
            overflow: auto;
            padding: 6px 10px;
            white-space: pre;
        }
        #sidenav {
            margin: 0 40px 20px 20px;
            padding: 0;
            border-radius: 5px;
            background-color: #fff; 
        }
        #sidenav li a {
            display: block;
            padding: 10px 0 10px 20px;
            border-bottom: 1px solid #eee;
            font-size: 16px;
        }
        #sidenav li:first-child a{
            border-radius: 5px 5px 0 0;
        }
        #sidenav li:last-child a{
            border-radius: 0 0 5px 5px; 
            border-bottom: none;
        }
        #sidenav li a:hover,
        #sidenav li.active a {
            text-decoration: none;
            color: #fff;
            background-color: #6C97C2;
        }
        .handy-module {
            margin: 10px 0 20px; 
        }
        .handy-module-demo {
            position: relative;
            margin: 10px 0 20px;
            padding: 40px 20px 20px;
            overflow: hidden;
            border: 1px solid #eee;
            background-color: #fff;
        }
        .handy-module-subtitle {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3px;
            margin: 0;
            color: #777;
            font-size: 12px;
            background: #F8F8F8;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            display: block;
            font-size: 12px;
            width: 150px;
            padding: 5px 10px;
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <div id="body-wrapper">
        <div id="title-wrapper">
            <h1 id="title" class="inline"><a href="./">Handy</a></h1>
            <p id="description"></p>
        </div>
{{>body}} 
    </div>
    <div id="footer-wrapper">
        <footer>
            <p class="powered">
                <a href="http://aralejs.org">Arale</a> •
                <a href="http://aliceui.org">Alice</a> •
                <a href="http://seajs.org">SeaJS</a> •
                <a href="https://github.com/spmjs/spm">spm</a> •
            </p>
        </footer>
    </div>
</body>
</html>
