<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../dist/app.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <title></title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
<div class="handy-module">
    <h2>Form</h2>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Input</h3>
        <div class="handy-module-dom">
<div class="ui-form-item">
    <input type="text" class="ui-input" placeholder="账户名" />
</div>
<div class="ui-form-item">
    <input type="text" disabled="disabled" class="ui-input ui-input-disabled" placeholder="账户名" />
</div>
<div class="ui-form-item ui-form-item-success">
    <input type="password" class="ui-input" placeholder="密码" />
    <span class="ui-form-icon icon-success icon-success-small"></span>
</div>
<div class="ui-form-item ui-form-item-error">
    <input type="password" class="ui-input" placeholder="密码" />
    <span class="ui-form-icon icon-error icon-error-small"></span>
    <div class="ui-form-explain">
        <p class="ui-poptip ui-poptip-red ui-poptip-arrow-1">错误提示</p>
    </div>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Checbox</h3>
        <div class="handy-module-dom">
<div class="ui-form-item">
    <div class="ui-checkbox">
        <label>表单项复选框——未选中</label>
        <input type="checkbox" />
        <span class="icon-check"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-checkbox ui-checkbox-checked">
        <label>表单项复选框——选中</label>
        <input type="checkbox" checked="checked" />
        <span class="icon-check"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-checkbox ui-checkbox-disabled">
        <label>表单项复选框——不可用</label>
        <input type="checkbox" disabled="disabled" />
        <span class="icon-check"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-checkbox ui-checkbox-naked">
        <label>表单项复选框——无框模式</label>
        <input type="checkbox" />
        <span class="icon-check"></span>
    </div>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Radio</h3>
        <div class="handy-module-dom">
<div class="ui-form-item">
    <div class="ui-radio">
        <label>表单项单选框——未选中</label>
        <input type="radio" value="" name="" />
        <span class="ui-icon-radio"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-radio ui-radio-checked">
        <label>表单项单选框——选中</label>
        <input type="radio" value="" name="" />
        <span class="ui-icon-radio"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-radio ui-radio-disabled">
        <label>表单项单选框——为选中不可用</label>
        <input type="radio" value="" name="" />
        <span class="ui-icon-radio"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-radio ui-radio-checked-disabled">
        <label>表单项单选框——选中不可用</label>
        <input type="radio" value="" name="" />
        <span class="ui-icon-radio"></span>
    </div>
</div>
        </div>
    </div>
    <div class="handy-module-demo">
        <h3 class="handy-module-subtitle">Select</h3>
        <div class="handy-module-dom">
<div class="ui-form-item">
    <div class="ui-select">
        <select>
            <option value="下拉列表1">下拉列表1</option>
            <option value="下拉列表2">下拉列表2</option>
            <option value="下拉列表3">下拉列表3</option>
        </select>
        <span class="icon-angle-down"></span>
    </div>
</div>
<div class="ui-form-item">
    <div class="ui-select ui-select-disabled">
        <select disabled="disabled">
            <option value="下拉列表1">下拉列表1-不可用</option>
            <option value="下拉列表2">下拉列表2</option>
            <option value="下拉列表3">下拉列表3</option>
        </select>
        <span class="icon-angle-down"></span>
    </div>
</div>
        </div>
    </div>
</div>
    </div>
</body>
</html>

