<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="_templates/handy/static/css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../dist/app.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/solarized.css" />
    <link rel="stylesheet" href="../assets/css/site.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <title>{{title}}</title>
    <style type="text/css">
        .handy-module{margin: 20px 0 50px;}
        .handy-module-demo{padding: 20px;}
    </style>
</head>
<body>
    <div id="body-wrapper">
{{>body}} 
    </div>
</body>
</html>

