h3 {
  padding:0 5px;
  border-top:1px solid #bfbfbf;
  border-bottom:1px solid #bfbfbf;
  line-height:23px;
  background:#e9ecee;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f5f6), to(#e9ecee)); /* Saf4+, Chrome */
  background-image:-webkit-linear-gradient(#f3f5f6, #e9ecee); /* Chrome 10+, Saf5.1+ */
  background-image:-moz-linear-gradient(#f3f5f6, #e9ecee); /* FF3.6 */
  background-image:-ms-linear-gradient(#f3f5f6, #e9ecee); /* IE10 */
  background-image:-o-linear-gradient(#f3f5f6, #e9ecee); /* Opera 11.10+ */
  background-image:linear-gradient(#f3f5f6, #e9ecee);
}

