/* Hard reset
 -------------------------------------------------- */
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
ol,
ul,
li {
  list-style: none;
}
/* Prevents iOS text size adjust after orientation change, without disabling (Thanks to @necolas) */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Global settings and variables
 -------------------------------------------------- */
body {
  font: 14px/1.5 "Helvetica Neue", sans-serif;
  color: #222;
  background-color: #fff;
}
a {
  color: #3f6eb1;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Removes the dark touch outlines on links */

}
hr {
  margin: 6px 0;
  height: 1px;
  overflow: hidden;
  background: #ccc;
  border: none;
}
.red {
  color: #f00;
}
.green {
  color: #096;
}
.gray {
  color: #888;
}
.align-right {
  text-align: right;
}
.margin {
  margin: 6px 12px;
}
.padding {
  padding: 6px 12px;
}
.gradient {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(top, #ffffff, #f5f5f5);
}
.text-shadow {
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}
.text-light {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
/* Ceiling
 -------------------------------------------------- */
.ceiling {
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
  background: #ffffe5;
}
/* Page header
 -------------------------------------------------- */
.header {
  padding-top: 6px;
  font-size: 16px;
  border-bottom: 4px solid #1757b9;
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e5e5e5));
  background: linear-gradient(top, #fefefe, #e5e5e5);
}
.header:after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background: #1a48a9;
  -webkit-box-shadow: 0 1px #6495d2;
  box-shadow: 0 1px #6495d2;
}
.header a,
.header span {
  float: left;
  margin-left: 6px;
  vertical-align: middle;
}
/* Title bar
 -------------------------------------------------- */
.bar-title {
  position: relative;
  color: #fff;
  text-align: center;
  border-top: 1px solid #ddd;
  background: #143987;
  background: -webkit-gradient(linear, left top, left bottom, from(#2668d9), to(#143987));
  background: linear-gradient(top, #2668d9, #143987);
  -webkit-box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, 0.8);
  /* Centered text in the .bar-title */

  /* Directional btns in title bars (thanks to @GregorAdams for solution - http://cssnerd.com/2011/11/30/the-best-pure-css3-ios-style-arrow-back-button/)
     -------------------------------------------------- */

  /* Override standard button active states */

  /* Prev/next btn base styles */

  /* Pointed part of directional btn */

  /* Active states for the directional btns */

}
.bar-title .title {
  display: inline;
  line-height: 42px;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
}
.bar-title a {
  color: inherit;
}
.bar-title .btn-prev,
.bar-title .btn-next {
  position: absolute;
  top: 4px;
  padding: 4px 12px;
  line-height: 23px;
  color: #fff;
  border-radius: 4px;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
  background: #041840;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a489d), to(#041840));
  background: linear-gradient(top, #1a489d, #041840);
  border: 1px solid #0e2653;
  -webkit-box-shadow: 1px 1px rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px rgba(255, 255, 255, 0.25);
}
.bar-title .btn-prev:active,
.bar-title .btn-next:active {
  color: #fff;
  background-color: #0876b1;
}
.bar-title .btn-prev {
  left: 15px;
  padding-left: 8px;
  border-left: 0;
  border-radius: 10px 0 0 0.6666666666666666px 0 0 15px;
}
.bar-title .btn-next {
  right: 17px;
  padding-right: 8px;
  border-right: 0;
  border-radius: 0 10px 10px NaN 15px 15px 0;
}
.bar-title .btn-prev:before,
.bar-title .btn-next:before {
  content: '';
  position: absolute;
  top: 2px;
  width: 27px;
  height: 27px;
  border-radius: 30px 100px 2px 20px 40px 30px 100px;
  -webkit-box-shadow: inset 1px 0 #0e5895, inset 0 1px #0e5895;
  box-shadow: inset 1px 0 #0e5895, inset 0 1px #0e5895;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.33, #000000), color-stop(0.45, transparent), to(transparent));
  mask-image: gradient(linear, left top, right bottom, from(#000000), color-stop(0.33, #000000), color-stop(0.45, transparent), to(transparent));
}
.bar-title .btn-prev:before {
  left: -8px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#041840), to(#1a489d));
  background-image: gradient(linear, left bottom, right top, from(#041840), to(#1a489d));
  border-left: 1.5px solid rgba(255, 255, 255, 0.25);
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
  transform: rotate(-45deg) skew(-10deg, -10deg);
}
.bar-title .btn-next:before {
  right: -8px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#1a489d), to(#041840));
  background-image: gradient(linear, left bottom, right top, from(#1a489d), to(#041840));
  border-top: 1.5px solid rgba(255, 255, 255, 0.25);
  -webkit-transform: rotate(135deg) skew(-10deg, -10deg);
  transform: rotate(135deg) skew(-10deg, -10deg);
}
.bar-title .btn-prev:active,
.bar-title .btn-next:active,
.bar-title .btn-prev:active:before,
.bar-title .btn-next:active:before {
  color: #fff;
  background: #0876b1;
}
.bar-title .btn-prev:active:before,
.bar-title .btn-next:active:before {
  content: '';
}
.bar-title .btn-prev:active:before {
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
.bar-title .btn-next:active:before {
  -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.2);
}
/* Tabs
 -------------------------------------------------- */
.tabs {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tabs .triggers {
  height: 38px;
  padding: 6px 6px 0 6px;
  background: #143987;
  background: -webkit-gradient(linear, left top, left bottom, from(#2668d9), to(#143987));
  background: linear-gradient(top, #2668d9, #143987);
}
.tabs .triggers:after {
  content: '';
  float: left;
  width: 100%;
  height: 5px;
  margin: -1px -6px 0 -6px;
  padding: 0 6px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background: #d7dbe0;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdfe4), to(#d7dbe0));
  background: linear-gradient(top, #dcdfe4, #d7dbe0);
  -webkit-box-shadow: inset 0 -1px 1px #ffffff;
  box-shadow: inset 0 -1px 1px #ffffff;
}
.tabs .trigger {
  float: left;
  display: block;
  width: 50%;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #113783;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a68d1), to(#113783));
  background: linear-gradient(top, #2a68d1, #113783);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs .trigger a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}
.tabs .trigger-active {
  position: relative;
  z-index: 10;
  color: #222;
  border: 1px solid #fff;
  border-bottom: 1px solid #dbdde2;
  border-radius: 4px 4px 0 0;
  background: #d7dbe0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7dbe0));
  background: linear-gradient(top, #ffffff, #d7dbe0);
}
/* Alert and mask
 -------------------------------------------------- */
.dialog {
  position: absolute;
  z-index: 10001;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 0 0 1px #fff, 0 0 8px #222;
  box-shadow: inset 0 0 0 1px #fff, 0 0 8px #222;
  background: #d8d8d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d8d8d8));
  background: linear-gradient(top, #f8f8f8, #d8d8d8);
}
.dialog > .title {
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}
.dialog > .content {
  border-top: 1px solid #fff;
  border-radius: 0 0 4px 4px;
}
.mask {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  opacity: 0.2;
}
/* Info
 -------------------------------------------------- */
.info {
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
  background: #f2f2f2;
}
.info .chevron {
  float: right;
  margin-top: 3px;
}
.info-primary {
  background: #ffffe5;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffffa), to(#ffffe5));
  background: linear-gradient(top, #fffffa, #ffffe5);
}
/* Form
 -------------------------------------------------- */
form {
  padding: 6px 12px;
}
label,
input,
select,
option,
textarea,
button {
  font-size: 16px;
}
label {
  display: block;
  margin: 8px 0;
}
label.title {
  color: #888;
}
label.checkbox,
label.radio {
  padding-left: 34px;
  line-height: 30px;
}
label.checkbox input[type=checkbox],
label.radio input[type=radio] {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: -34px;
  overflow: visible;
  vertical-align: middle;
}
input[type="checkbox"]:after,
input[type="radio"]:after {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: url(img/fields.png);
}
input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-position: 0 -32px;
}
input[type="radio"]:after {
  background-position: 0 -64px;
}
input[type="radio"]:checked:after {
  background-position: 0 -96px;
}
select {
  -webkit-appearance: button;
  width: 100%;
  padding-left: 5px;
  border-width: 3px 49px 3px 7px;
  line-height: 36px;
  border-radius: 4px;
  -webkit-border-image: url(https://i.alipayobjects.com/e/201209/1H18fMwDEC.png) 3 49 3 7 stretch stretch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: .7em .5em;
  border: 1px solid #a5a9b1;
  border-radius: 4px;
  -webkit-box-shadow: inset 2px 2px 3px #dddddd;
  box-shadow: inset 2px 2px 3px #dddddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.field-with-3char > label {
  margin-right: 3.2em;
}
.field-with-3char > a {
  float: right;
  margin-top: -38px;
}
.field-with-4char > label {
  margin-right: 4.2em;
}
.field-with-4char > a {
  float: right;
  margin-top: -38px;
}
/* Buttons
 -------------------------------------------------- */
.btn-box {
  margin: 8px 0;
}
.btn {
  height: 41px;
  padding: 0 12px;
  vertical-align: middle;
  font-size: 16px;
  color: #265687;
  border: 1px solid #8f98a6;
  border-radius: 4px;
  background: #e0e5e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfc), to(#e0e5e9));
  background: linear-gradient(top, #fbfbfc, #e0e5e9);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 2px 3px #cccccc;
  box-shadow: 1px 2px 3px #cccccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn[disabled] {
  color: #888;
  background: #edf0f2;
}
a.btn {
  display: inline-block;
  line-height: 32px;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-primary {
  color: #fff;
  border: 1px solid #802600;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5);
  background: #ce4704;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8525), to(#ce4704));
  background: linear-gradient(top, #fb8525, #ce4704);
}
.btn-primary[disabled] {
  color: #ddd;
  background: #ee9c5a;
}
.btn-2cols .btn {
  width: 48%;
}
.btn-2cols .btn:last-child {
  float: right;
}
.btn-2cols:after {
  content: '';
  clear: both;
}
/* Icon
 -------------------------------------------------- */
.icon {
  display: inline-block;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(img/msg.png) 0 -160px;
}
.icon-success {
  background-position-y: -200px;
}
.icon-error {
  background-position-y: 0;
}
.icon-info {
  background-position-y: -120px;
}
.icon-question {
  background-position-y: -80px;
}
/* Message
 -------------------------------------------------- */
.msg {
  margin: 8px 0;
  padding: 6px 6px 6px 24px;
  line-height: 1.5em;
  background: #ffffe5;
  border: 1px solid #ffcc7f;
  border-radius: 4px;
}
.msg > i {
  margin-left: -18px;
}
.msg-success {
  background: #f0ffe5;
  border: 1px solid #4dbf00;
}
.msg-error {
  background: #fff2f2;
  border: 1px solid #ff8080;
}
.msg-info {
  background: #e5f5ff;
  border: 1px solid #40b3ff;
}
/* Chevron
 -------------------------------------------------- */
.chevron {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  overflow: hidden;
}
.chevron:before,
.chevron:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -2px;
  width: 2px;
  height: 6px;
  background: #7d8893;
}
.chevron:before {
  margin-left: -3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chevron:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chevron-primary {
  width: 19px;
  height: 19px;
  background: #8192ab;
  border-radius: 10px;
}
.chevron-primary:before,
.chevron-primary:after {
  background: #fff;
}
.chevron-right:before {
  margin-left: 0px;
  margin-top: -5px;
}
.chevron-top:before {
  margin-left: 0px;
  margin-top: -3px;
}
.chevron-top:after {
  margin-left: -3px;
  margin-top: -3px;
}
/* Accordion
 -------------------------------------------------- */
.accordion .trigger {
  padding: 12px;
  border-top: 1px solid #aabcce;
  border-bottom: 1px solid #aabcce;
  background: #d9dfe3;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbfb), to(#d9dfe3));
  background: linear-gradient(top, #fafbfb, #d9dfe3);
  -webkit-box-shadow: inset 0 0 2px #fcfdfd;
  box-shadow: inset 0 0 2px #fcfdfd;
}
.accordion .trigger > a {
  position: relative;
  display: block;
  padding: inherit;
  margin: -12px;
  color: inherit;
}
.accordion .trigger .chevron {
  float: right;
  margin-top: 2px;
}
.accordion .trigger-active .chevron:before {
  margin-left: 0px;
  margin-top: -3px;
}
.accordion .trigger-active .chevron:after {
  margin-left: -3px;
  margin-top: -3px;
}
/* List
 -------------------------------------------------- */
/* Remove usual bullet styles from list */
.list {
  list-style: none;
}
/* Pad each list item and add dividers */
.list li {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
  background: linear-gradient(top, #ffffff, #f8f8f8);
}
/* Give top border to first list items */
.list li:first-child {
  border-top: 1px solid #ddd;
}
/* If a list of links, make sure the child <a> takes up full list item tap area (want to avoid selecting child buttons though) */
.list li > a {
  position: relative;
  display: block;
  padding: inherit;
  margin: -12px;
  color: inherit;
}
/* Page footer
 -------------------------------------------------- */
.footer {
  padding: 6px 12px;
  line-height: 1.5em;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #b7c7d1;
  background: #d9ebf6;
  -webkit-box-shadow: inset 0 2px 2px #acbbc5;
  box-shadow: inset 0 2px 2px #acbbc5;
}
.footer .links a {
  line-height: 1em;
  padding: 0 8px;
  border-right: 1px solid #888;
}
.footer .links a:last-child {
  border-right: none;
}
